option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "untitled2.settings"
    "PYTHONPATH": "/opt/python/current/app/untitled2:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
    "aws:elasticbeanstalk:container:python":
    WSGIPath: "untitled2/wsgi.py"
    "aws:elasticbeanstalk:container:python:staticfiles":
        /static/: "static/"
